<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reservation</title>
</head>

<body>
<h3>Reservation:</h3>

<form action="/getBooked" method="Get">

            Please enter room id:
            <input type="text" name="roomId" id="roomId"/>
            <input type="submit" value="Book"/>

</form>
    <br/>
    <h3 >Booked rooms:</h3>
        <li th:each="bookedRoom : ${bookedRooms}">
          <a  th:text="${bookedRoom}" th:href="|/cancel?roomId=${bookedRoom}|"></a>
        </li>
    <h4>To cancel booking click on chosen room</h4>
</body>
</html>

